<!----------------------------- DESKTOP TITLE PAGE ----------------------------------->


<div class="container-fluid">
    <div class="row">
        <div id="main-title-page" class="col-xs-12 col-s-12 col-md-12 col-lg-12 col-xl-6">
            <div class="logo-container">
                <span class="word word1"> BattleList </span>
            </div>
            <div class="word_split wrapper">
                <span class="word word2">Keeping</span>
                <span class="word word3">Your</span>
                <span class="word word4">Team</span>
                <span class="word word5">On Task</span>
                <span class="word word6">And </span>
                <span class="word word7">Productive</span>
            </div>

        </div>
<!----------------------------- SIGN IN FORM ----------------------------------->

        
        <div id="sign-in-form-container" class="col-xs-0 col-s-0 col-md-0 col-lg-0 col-xl-6">
            <form class="rounded z-depth-1 sign-in text-center border bg-white border-light p-5">
                <h1 id="create">Create Your</h1>
                <h1 id="your">Own BattleList</h1>
                <a href="/workbench" class="btn btn-info btn-block my-4 btn-info">Create Workbench</a>
            </form>
        </div>
    </div>
</div>

<!---------- Scroll Down Arrow Animation - Shown on smaller screens (600px or less)----------->

<section id="scrollArrow" class="demo">
    <a id="scroll-down" href="/workbench"><span></span></a>
</section>

