    <div class="container-fluid">
        <div class="row">
            {{#each user}}
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="card task-list">
                    <div class="text-center card-header success-color white-text">
                        <h2>{{this.assigneeName}}</h2>
                    </div>
                    <div class="list-items">
                        <ol class="sortable list-group">
                            {{#each this.Tasks}}
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <div class="md-v-line"></div><span
                                    class="badge list-number badge-info badge-pill mr-4">{{id}}</span>
                                <span class="align-middle item">{{this.taskName}}</span>
                                <span class="delete-button badge float-right badge-info"><i
                                        class="fas fa-trash-alt"></i></span>
                            </li>
                            {{/each}}

                        </ol>

                        <div id="share-button" class="text-center">
                            <button type="button" class="btn btn-block shareButton btn-info">Share</button>
                        </div>

                    </div>
                </div>
                <div id="share-button" class="text-center">
                    <button type="button" class="btn shareButton btn-info">Share</button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>